@font-face {
    font-family: Merriweather;
    src: url('/fonts/Merriweather-Bold.ttf');
}
@font-face {
    font-family: SourceCodePro;
    src: url('/fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: Overpass;
    src: url('/fonts/Overpass-Regular.ttf');
}
@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-Italic.ttf');
}
@font-face {
    font-family: NunitoSans;
    src: url('/fonts/NunitoSans_10pt-Italic.ttf');
}